<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--<link href="bootstrap-5.3.0/dist/css/bootstrap.css" rel="stylesheet">
  <script src="bootstrap-5.3.0/dist/js/bootstrap.js"></script>
  <link rel="stylesheet" href="frontend/src/styles.css"> -->
  <title>Личный ассистент</title>

</head>
<body>
<a href="#" title="Вернуться к началу страницы" class="fixed_button rectangle">Создать задачу</a>
<!-- выпадающий список
<form>
    <label for="fruits">Выберите фрукт:</label>
    <select id="fruits" name="fruits">
        <option value="apple">Яблоко</option>
        <option value="banana">Банан</option>
        <option value="orange">Апельсин</option>
    </select>
</form>
-->

<div class="row justify-content-start">

  <div class="col-2">
    <button class="btn w-200">
      <img src="././assets/image/profile.png" alt="профиль">
      <p>Профиль</p>
    </button>


    <hr>
    <p>
      Тут должен быть календарь. Как в гугл. Надо его как-то сделать.
    </p>
    <hr>


    <button class="btn w-200">
      <img src="././assets/image/home.png" alt="главный экран">
      <p>Главный экран</p>
    </button>

    <button class="btn w-200">
      <img src="././assets/image/plans.png" alt="планы">
      <p>Планы</p>
    </button>

    <button class="btn w-200">
      <img src="././assets/image/balance.png" alt="колесо баланса">
      <p>Колесо баланса</p>
    </button>

    <button class="btn w-200">
      <img src="././assets/image/friends.png" alt="коллаборации">
      <p>Коллаборации</p>
    </button>

    <button class="btn w-200">
      <img src="././assets/image/archiv.png" alt="хранилище">
      <p>Хранилище</p>
    </button>

    <button class="btn w-200">
      <img src="././assets/image/school.png" alt="Рассписание занятий">
      <p>Рассписание занятий</p>
    </button>


    <button class="btn w-200">
      <img src="././assets/image/diary.png" alt="Дневник">
      <p>Дневник</p>
    </button>

    <button class="btn w-200">
      <img src="././assets/image/day_phrase.png" alt="Фразы дня">
      <p>Фразы дня</p>
    </button>
  </div>

  <div class="col-3 mx-3 mt-md-5">
    <h2>вчера</h2>
    <hr>
    <h3>Расписание</h3>
    <p> расписание</p>
    <hr>
    <h3>Заметка</h3>
    <p>Какая-то тут есть заметка. Но это все не важно, потому что это просто проверка того, как будет располагаться и выглядеть текст</p>
    <hr>
    <h3>Задачи</h3>
    <input type="checkbox" id="ex" name="ex" value="ex">
    <label for="ex"> Здесь какая-то задача</label><br>

    <hr>
  </div>

  <div class="col-3 mx-3 mt-md-5">

    <h2>сегодня</h2>
    <hr>
    <h3>Расписание</h3>
    <p> расписание</p>
    <hr>
    <h3>Заметка</h3>
    <textarea name="message" id="message" rows="5"
              class="form-control md-textarea" type="text"></textarea>
    <h3>Задачи</h3>

  </div>


  <div class="col-3 mx-3 mt-md-5">
    <h2>завтра</h2>
    <hr style="border-style: solid; border-width: 1px; border-color: #000000">
  </div>
</div>

</body>
<script src="bootstrap-5.3.0/dist/js/func.js"></script>
</html>
