.calendar {
  width: 100%;  /* Использует 100% ширины родительского контейнера */
  max-width: 300px; /* Но не более 300px */
  border-radius: 5px;
}

.button-container button:hover {
  background-color: #ffcc80;
}

.calendar-day:hover{
  background-color: #ffcc80; /* Цвет при наведении */
}

.header span:hover {
  background-color: #ffcc80; /* Цвет при наведении */
  box-shadow: 0 0 0 5px #ffcc80;
  border-radius: 50%;
}

.header span {
  cursor: pointer;
}

.header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.button-container button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Распределить элементы равномерно по ширине */
  width: 100%; /* Занимать всю доступную ширину */
}

.calendar-day {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* Выделение текущего дня */
.current-day {
  background-color: #ffcc80;
}

/* Для предыдущих и следующих месяцев */
.other-month {
  color: #999; /* Очень светлый серый */
  background-color: transparent;
}

table, th, td {
  border: none;
}

/* Дни недели */
.weekday {
  cursor: default;
  font-family: "Sofia Sans Condensed", sans-serif;
  color: #000; /* Цвет текста дней недели */
}
/* Подсветка дней недели при наведении */
.weekday:hover {
  background-color: transparent;
}
