<div class="calendar">
  <div class="header">
    <div class="button-container">
      <button (click)="prevMonth()">❮</button>
      <span>{{ currentYear }}</span> <span>{{ monthNames[currentMonth] }}</span>
      <button (click)="nextMonth()">❯</button>
    </div>
  </div>
  <table>
    <thead>
    <tr>
      <th>
        <div class="calendar-day weekday">Пн</div>
      </th>
      <th>
        <div class="calendar-day weekday">Вт</div>
      </th>
      <th>
        <div class="calendar-day weekday">Ср</div>
      </th>
      <th>
        <div class="calendar-day weekday">Чт</div>
      </th>
      <th>
        <div class="calendar-day weekday">Пт</div>
      </th>
      <th>
        <div class="calendar-day weekday">Сб</div>
      </th>
      <th>
        <div class="calendar-day weekday">Вс</div>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let week of weeks" class="week" >
      <td
        *ngFor="let day of week"
        class="calendar-day"
        [ngClass]="{'current-day': isCurrentDate(day.date) && isCurrentMonth(day),
        'other-month': !isCurrentMonth(day)}"
        (click)="handleDateClick(day)"
      >
        {{ day.date !== '' ? day.date : ' ' }}
      </td>
    </tr>
    </tbody>
  </table>
</div>
