<div class="col-md-2 col-lg-2 navbar-container">
  <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="#">
      <img src="././assets/image/profile.png" alt="профиль">
      Профиль
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <!-- Пункты вертикального меню -->
      <ul class="navbar-nav">
        <hr>
        <app-calendar (dateClicked)="handleDateClicked($event)" [currentDate]="currentDate"></app-calendar>
        <hr>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">
            <img src="././assets/image/home.png" alt="главный экран">
            Главный экран
          </a>
        </li>
        <li class="nav-item">
          <a (click)="goToPlans()" class="nav-link" routerLink="/plans">
            <img src="././assets/image/plans.png" alt="планы">
            Планы
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#link-3">
            <img src="././assets/image/balance.png" alt="колесо баланса">
            Колесо баланса
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#link-4">
            <img src="././assets/image/friends.png" alt="коллаборации">
            Коллаборации
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#link-5">
            <img src="././assets/image/archiv.png" alt="хранилище">
            Хранилище
          </a>
        </li>


        <li class="nav-item">
          <a (click)="goToTimetable()" class="nav-link" routerLink="/timetable">
            <img src="././assets/image/school.png" alt="Расписание занятий">
            Расписание занятий
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#link-7">
            <img src="././assets/image/diary.png" alt="Дневник">
            Дневник
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#link-8">
            <img src="././assets/image/day_phrase.png" alt="Фразы дня">
            Фразы дня
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
