<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Личный ассистент</title>
</head>

<body>
    
    <!-- Основной контент страницы  -->
     <div  class="col-md-12 col-lg-12 mt-md-2">
        <h2>Дневник</h2>
    </div>

    <div class="row justify-content-center">

        <!-- Секция для записи на сегодня -->
        <div class="col-md-11 col-lg-11 mt-md-2 divDiary" id="divNewDiary">
            <h2 class="titleDiary">Сегодня ({{ formatDateForDisplay(todayDate) }})</h2>
        
            <textarea 
            class="textNewDiary"
            [(ngModel)]="diaryEntry"
            (input)="onDiaryInput()"
            (blur)="onDiaryBlur()"
            ></textarea>
        </div>
  
      
        <!-- Секция для остальных записей -->
        <div *ngFor="let diary of diaries" class="col-md-11 col-lg-11 mt-md-2 divDiary" id="divDiary">
          <ng-container *ngIf="diary.assigned_day !== todayDate">
            <h2 class="titleDiary">{{ formatDateForDisplay(diary.assigned_day) }}</h2>
            <p class="textNewDiary">
              {{ diary.text }}
            </p>
          </ng-container>
        </div>
      
    </div>
    
</body>
