<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--<link href="bootstrap-5.3.0/dist/css/bootstrap.css" rel="stylesheet">
  <script src="bootstrap-5.3.0/dist/js/bootstrap.js"></script>
  <link rel="stylesheet" href="frontend/src/styles.css"> -->
  <title>Личный ассистент</title>
</head>
<body>

  <!-- выпадающий список -->
  <div class="container-fluid" style="background-color: #D4CBC8">
    <div class="row">
      <div class="col-md-2 col-lg-2 navbar-container">
        <!-- Вертикальное меню -->
        <nav class="navbar navbar-expand-md navbar-light">
          <a class="navbar-brand" href="#">
            <img src="././assets/image/profile.png" alt="профиль">
            Профиль
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <!-- Пункты вертикального меню -->
            <ul class="navbar-nav">
              <hr>
                <app-calendar [currentDate]="currentDate"></app-calendar>
              <hr>
              <li class="nav-item">
                <a class="nav-link" href="#link-1">
                  <img src="././assets/image/home.png" alt="главный экран">
                  Главный экран
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#link-2">
                  <img src="././assets/image/plans.png" alt="планы">
                  Планы
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#link-3">
                  <img src="././assets/image/balance.png" alt="колесо баланса">
                  Колесо баланса
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#link-4">
                  <img src="././assets/image/friends.png" alt="коллаборации">
                  Коллаборации
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#link-5">
                  <img src="././assets/image/archiv.png" alt="хранилище">
                  Хранилище
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#link-6">
                  <img src="././assets/image/school.png" alt="Рассписание занятий">
                  Рассписание занятий
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#link-7">
                  <img src="././assets/image/diary.png" alt="Дневник">
                  Дневник
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#link-8">
                  <img src="././assets/image/day_phrase.png" alt="Фразы дня">
                  Фразы дня
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-md-10 col-lg-10 content-container">
        <!-- Основной контент страницы  -->
<!--        <form>-->
<!--          <select id="3days" name="days">-->
<!--            <option value="3day">3 дня</option>-->
<!--            <option value="month">месяц</option>-->
<!--            <option value="year">год</option>-->
<!--          </select>-->
<!--        </form>-->
        <a href="#new-task" title="Новая задача" class="fixed_button">
          <button style="background-color: #F3A972">
            <img src="././assets/image/new_task.png" alt="новая задача" style="height: 20px">
            Создать задачу
          </button>
        </a>


        <div class="col-md-10 col-lg-10 mt-md-5">
          <img src="././assets/image/back.png" alt="назад" style="height: 20px">
          <img src="././assets/image/forward.png" alt="вперед" style="height: 20px; position: absolute; right: 10px;">
        </div>


        <div class="row justify-content-center">
          <div class="col-md-4 col-lg-4 mt-md-1">
            <h2>вчера</h2>
            <hr>
            <h3>Расписание</h3>
            <!-- Таблица расписание -->
            <app-classes></app-classes>

<!--            <p>-->
<!--              <ng-container *ngFor="let class of data.classes">-->
<!--                  <span class="font-semibold">{{ class.name }}</span><br>-->
<!--                  <span class="ml-2">{{ class.format }}</span><br>-->
<!--              </ng-container>-->
<!--            </p>-->

            <hr>
            <h3>Заметка</h3>
            <p>{{ data.text_note }}</p>
            <hr>
            <h3>Задачи</h3>
            <h4>На день</h4>
            <input type="checkbox" id="ex" name="ex" value="ex">
            <label for="ex"> Задача на день</label><br>

            <h4>Без времени</h4>
            <input type="checkbox" id="ex3" name="ex" value="ex">
            <label for="ex3"> Здесь какая-то задача</label><br>
          </div>

          <div class="col-md-4 col-lg-4 mt-md-1">
            <h2>сегодня</h2>
            <hr>
            <h3>Расписание</h3>
            <!-- Таблица расписание -->
            <app-classes *ngFor="let data of data.today_classes" [data]="data"></app-classes>
            <hr>
            <h3>Заметка</h3>
            <textarea name="message" id="message" rows="5" class="form-control md-textarea" type="text" style="color: #595959;">

            </textarea>
            <hr>
            <h3>Задачи</h3>
            <h4>На день</h4>
            <input type="checkbox" id="ex4" name="ex" value="ex">
            <label for="ex4"> Задача на день</label><br>
            <h4>Просрочено</h4>
            <input type="checkbox" id="ex5" name="ex" value="ex">
            <label for="ex5"> Какая-то просроченная задача</label><br>

            <h4>Без времени</h4>
          </div>

          <div class="col-md-4 col-lg-4 mt-md-1">
            <h2>завтра</h2>
            <hr style="border-style: solid; border-width: 1px; border-color: #000000">
            <h3>Расписание</h3>
            <!-- Таблица расписание -->
            <app-classes [data]="data.tomorrow_classes[0]" ></app-classes>
            <hr>
            <h3>Задачи</h3>
            <h4>На день</h4>
            здесь тоже какая-то задача может быть
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="new-task">
      <div id="okno">
        <p><input type="text" name="userName" placeholder="Введите название задачи" style="width: 100%" /></p>
        <div class="row justify-content-center">

          <div class="col-md-6 col-lg-6">
            <p>
              <img src="././assets/image/category.png" alt="категория для задачи" style="height: 30px">
              <select id="category-for-task" name="category" style="width: 80%; background-color: #f0f0f0">
                <option value="chooth">Выберите категорию</option>
                <option value="health">здоровье</option>
                <option value="family">семья</option>
                <option value="love">отношения</option>
                <option value="education">образование</option>
                <option value="career">карьера</option>
              </select>
            </p>
          </div>
          <div class="col-md-6 col-lg-6">
            <p> <img src="././assets/image/score.png" alt="оценка" style="height: 30px; margin-right: 10px">
            <input style="width: 80%" type="text" name="userName" placeholder="Оценка задачи" /> </p>
          </div>

        </div>

        <p><img src="././assets/image/timeForTask.png" alt="время" style="height: 30px">
         Здесь будет время для задачи ОТ ДО</p>
        <p>
          <input type="checkbox" id="time-for-task" name="time-for-task" value="time-for-task">
          <label for="time-for-task">Повторяется </label>
        </p>

        <br>
        <textarea name="message" id="mess" rows="5" class="form-control md-textarea" type="text" style="color: #595959;">
          Описание задачи
        </textarea>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-6">
            <a href="#1" class="save">Сохранить</a>
          </div>
          <div class="col-md-6 col-lg-6">
            <a href="#" class="close">Закрыть окно</a>
          </div>
        </div>

    </div>
  </div>

</body>
<script src="bootstrap-5.3.0/dist/js/func.js"></script>
</html>
