<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Личный ассистент</title>
</head>

<body>

  <!-- выпадающий список -->
  <div class="container-fluid" style="background-color: #D4CBC8">

    <div class="row">
      <!-- Основной контент страницы  -->
      <div class="col-md-12 col-lg-12 content-container">
<!--        <form>-->
<!--          <select id="3days" name="days">-->
<!--            <option value="3day">3 дня</option>-->
<!--            <option value="month">месяц</option>-->
<!--            <option value="year">год</option>-->
<!--          </select>-->
<!--        </form>-->


        <!-- Кнопка "Создание задачи" -->
        <p><button onclick="showDiv()" class="fixed_button">
          <img src="././assets/image/new_task.png" alt="новая задача" style="height: 20px">
          Создание задачи
        </button></p>


        <!-- Стрелки -->
        <div class="col-md-10 col-lg-10 mt-md-5">
          <img src="././assets/image/back.png" alt="назад" style="height: 20px">
          <img src="././assets/image/forward.png" alt="вперед" style="height: 20px; position: absolute; right: 10px;">
        </div>

        <!-- Основной контент страницы  -->
        <div class="row justify-content-center">
          <div class="col-md-4 col-lg-4 mt-md-1">
            <h2>{{ isDateClicked ? yesterdayLabel : yesterdayLabel }}</h2>
            <hr>
            <h3>Расписание</h3>
            <!-- Таблица расписание -->
            <table class="table">
              <thead>
              <tbody *ngFor="let class of data.yesterday.day_classes">
              <tr>
                <td>{{ class.start_time }}<br>{{ class.stop_time }}</td>
                <td>
                  {{ class.name }}<br>
                  <ng-container *ngIf="class.place !== '-'">
                    {{ class.place }}<br>
                  </ng-container>
                  {{ class.format }}
                </td>
              </tr>
              </tbody>
            </table>

            <hr>
            <h3>Заметка</h3>
            <p>{{ data.yesterday.text_note}}</p>
            <hr>
            <h3>Задачи</h3>
            <h4>На день</h4>
            <input type="checkbox" id="ex" name="ex" value="ex">
            <label for="ex"> Задача на день</label><br>
            <div *ngFor="let task of data.yesterday.fixed_tasks">
              <input type="checkbox" [id]="task.id.toString()" [name]="task.name" [value]="task.id">
              <label [for]="task.id.toString()">{{ task.name }}</label><br>
            </div>
          </div>

          <div class="col-md-4 col-lg-4 mt-md-1">
            <h2>{{ isDateClicked ? todayLabel : todayLabel }}</h2>
            <hr>
            <h3>Расписание</h3>
            <!-- Таблица расписание -->
            <table class="table">
              <thead>
              <tbody *ngFor="let class of data.today.day_classes">
              <tr>
                <td>{{ class.start_time }}<br>{{ class.stop_time }}</td>
                <td>
                  {{ class.name }}<br>
                  <ng-container *ngIf="class.place !== '-'">
                    {{ class.place }}<br>
                  </ng-container>
                  {{ class.format }}
                </td>
              </tr>
              </tbody>
            </table>

            <hr>
            <h3>Заметка</h3>
            <p>{{ data.today.text_note }}</p>
<!--            <textarea name="message" id="message" rows="5" class="form-control md-textarea" type="text" style="color: #595959;"></textarea>-->
            <hr>
            <h3>Задачи</h3>
            <h4>На день</h4>
            <div *ngFor="let task of data.today.fixed_tasks">
              <input type="checkbox" [id]="task.id.toString()" [name]="task.name" [value]="task.id">
              <label [for]="task.id.toString()">{{ task.name }}</label><br>
            </div>

            <h4>Просрочено</h4>
            <div *ngFor="let task of data.late_tasks">
              <input type="checkbox" [id]="task.id.toString()" [name]="task.name" [value]="task.id">
              <label [for]="task.id.toString()">{{ task.name }}</label><br>
            </div>

            <h4>Без времени</h4>
            <div *ngFor="let task of data.free_tasks">
              <input type="checkbox" [id]="task.id.toString()" [name]="task.name" [value]="task.id">
              <label [for]="task.id.toString()">{{ task.name }}</label><br>
            </div>
          </div>

          <div class="col-md-4 col-lg-4 mt-md-1">
            <h2>{{ isDateClicked ? tomorrowLabel: tomorrowLabel }}</h2>
            <hr style="border-style: solid; border-width: 1px; border-color: #000000">
            <h3>Расписание</h3>
            <!-- Таблица расписание -->
            <table class="table">
              <thead>
              <tbody *ngFor="let class of data.tomorrow.day_classes">
              <tr>
                <td>{{ class.start_time }}<br>{{ class.stop_time }}</td>
                <td>
                  {{ class.name }}<br>
                  <ng-container *ngIf="class.place !== '-'">
                    {{ class.place }}<br>
                  </ng-container>
                  {{ class.format }}
                </td>
              </tr>
              </tbody>
            </table>
              <hr>
            <h3>Заметка</h3>
            <p>{{ data.tomorrow.text_note }}</p>
            <hr>
            <h3>Задачи</h3>
            <h4>На день</h4>
            <div *ngFor="let task of data.tomorrow.fixed_tasks">
              <input type="checkbox" [id]="task.id.toString()" [name]="task.name" [value]="task.id">
              <label [for]="task.id.toString()">{{ task.name }}</label><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Кнопка новой задачи  -->
    <div id="div1" style="display: none; width: 100%; height: 100%; position: absolute; top: 0; left: 0;">
    <div class="container">
      <p><input type="text" name="userName" placeholder="Введите название задачи" style="width: 100%" /></p>
      <div class="row justify-content-center">

        <div class="col-md-6 col-lg-6">
          <p>
            <img src="././assets/image/category.png" alt="категория для задачи" style="height: 30px">
            <select id="category-for-task" name="category" style="width: 80%; background-color: #f0f0f0">
              <option value="chooth">Выберите категорию</option>
              <option value="health">здоровье</option>
              <option value="family">семья</option>
              <option value="love">отношения</option>
              <option value="education">образование</option>
              <option value="career">карьера</option>
            </select>
          </p>
          <p><img src="././assets/image/timeForTask.png" alt="время" style="height: 30px">
            Здесь будет время для задачи ОТ ДО</p>
        </div>
        <div class="col-md-6 col-lg-6">
          <p> <img src="././assets/image/score.png" alt="оценка" style="height: 30px; margin-right: 10px">
            <input style="width: 80%" type="text" name="userName" placeholder="Оценка задачи" /> </p>
          <p>
            <img src="././assets/image/plans.png" alt="планы" style="height: 30px; margin-right: 10px">
            <select id="task-in-plan" name="task-plan" style="width: 80%; background-color: #f0f0f0">
              <option value="chooth"> Принадлежит плану</option>
              <option value="plan-no"> нет</option>
              <option value="plan1">план1</option>
              <option value="plan2">план2</option>
              <option value="plan3">план3</option>
              <option value="plan4">план4</option>
            </select>
          </p>
        </div>

      </div>

      <p>
        <input type="checkbox" id="chkTest" />
        <label for="chkTest">Повторяется</label>
      </p>

      <div id="pnlTest" class="Iseewhencheck">

        <p> Повторяется <input type="text" name="userName" style="width: 15%; margin: 0 3px 0 3px; justify-content: center;" placeholder="кол-во"/>
          раз в
          <select id="repeat" name="repeat" style="background-color: #f0f0f0; width: 40%;">
            <option value="1"> неделю</option>
            <option value="2"> месяц </option>
            <option value="3"> год </option>
          </select>
        </p>

      <div class="row justify-content-start">
        <div class="col-md-1 col-lg-1">
          ПН
        </div>
        <div class="col-md-1 col-lg-1">
          ВТ
        </div>
        <div class="col-md-1 col-lg-1">
          СР
        </div>
        <div class="col-md-1 col-lg-1">
          ЧТ
        </div>
        <div class="col-md-1 col-lg-1">
          ПТ
        </div>
        <div class="col-md-1 col-lg-1">
          СБ
        </div>
        <div class="col-md-1 col-lg-1">
          ВС
        </div>

      </div>
      </div>

      <br>
      <textarea name="message" id="mess" rows="5" class="form-control md-textarea"
                type="text" style="color: #595959; height: 130px"></textarea>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-6">
          <p style="text-align: center"><button (click)="saveTask()" onclick="hideDiv()" id="save-button" class="save">Сохранить</button><p>
        </div>
        <div class="col-md-6 col-lg-6">
          <p style="text-align: center"><button onclick="hideDiv()" id="close-button" class="close">Закрыть</button><p>
        </div>
    </div>
  </div>
  </div>
</body>

<script src="bootstrap-5.3.0/dist/js/func.js"></script>
</html>
