<div class="p-4">
  <h1 class="text-2xl font-bold mb-4">Cегодня</h1>

  <!-- Сегодняшние задачи -->
  <div class="mb-4">
    <h2 class="text-xl font-semibold">Жесткие задачи</h2>
    <ul>


      <ng-container *ngFor="let task of today_screen.today_tasks">

        <li class="mb-2">
          <samp class="font-semibold">{{ task.id }}</samp>
          <span class="font-semibold">{{ task.name }}</span>
          <span class="ml-2">{{ getStatusText(task.status) }}</span>
          <span *ngIf="task.start_time" class="ml-2">Начало: {{ task.start_time }}</span>
          <span *ngIf="task.stop_time" class="ml-2">Конец: {{ task.stop_time }}</span>
        </li>
      </ng-container>
    </ul>
  </div>

  <!-- Свободные задачи -->
  <div class="mb-4">
    <h2 class="text-xl font-semibold">Свободные задачи</h2>
    <ul>
      <ng-container *ngFor="let task of today_screen.free_tasks">
        <li class="mb-2">
          <span class="font-semibold">{{ task.name }}</span>
          <span class="ml-2">{{ getStatusText(task.status) }}</span>
        </li>
      </ng-container>
    </ul>
  </div>

  <!-- Просроченные задачи -->
  <div class="mb-4">
    <h2 class="text-xl font-semibold">Просроченные задачи</h2>
    <ul>
      <ng-container *ngFor="let task of today_screen.late_tasks">
        <li class="mb-2">
          <span class="font-semibold">{{ task.name }}</span>
          <span class="ml-2">{{ getStatusText(task.status) }}</span>
        </li>
      </ng-container>
    </ul>
  </div>


</div>
