canvas {
  border: 1px solid black;
  display: block;
  margin: 20px auto;
}

.wheel_date_input {
  width: 10%; 
  background-color: #F0F0F0;
  height: auto;
  margin: 0 10px 0 10px;
}
canvas {
  width: 600px;   /* Вмещаем всю ширину окна браузера */
  height: 600px;   /* И половину его высоты */
}

@media only screen and (max-width: 600px) {
  canvas {
    width: 100%;  /* На малых экранах занимаем всю доступную ширину */
    height: 100%; /* По высоте у нас гибкий подход */
  }
}
.styleImg {
  height: 20px;
}

.showDivNewCtg {
  border: none;
}

.colorCircle {
  width:10%; 
  align-items: end;
}
.textCtg {
  display: inline-block;
}

.styleForCtg {
  display: flex; 
  width: 100%;
}

.divTextCtg {
  width: 90%;
}

.labelTextCtg {
  margin-left: 7px;
}

.UpdWheelBtn {
  width: 70%; 
  background-color: #F0f0f0;
}

.UpdWheelBtn:hover {
  background-color: #f1c477;
}

.textUpdWheel {
  text-align: center;
}

.newCtg {
  display: none; 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  top: 0; 
  left: 0;
}

.newNameCtg {
  width: 100%;
}

.newColorCtg {
  width: 50%; 
  height: 150px;
}
