<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Личный ассистент</title>
</head>

<body>
    
    <!-- Основной контент страницы  -->
     <div  class="col-md-12 col-lg-12 mt-md-2">
        <h2>Просмотр колеса баланса
            от <input class="wheel_date_input" type="date" id="wheel_date_from"> 
            до <input class="wheel_date_input" type="date" id="wheel_date_to">
        </h2>
    </div>
    <div class="col-md-12 col-lg-12 content-container">       
        <div class="row justify-content-center">
            <div class="col-md-4 col-lg-4 mt-md-1">
                <h2>Категории</h2>
                <hr>
                <!-- Кнопка "Создание новой категории" -->
                <p><button onclick="showDivNewCtg()" class="showDivNewCtg"> <img src="././assets/image/add.png" alt="новая категория" class="styleImg"> Добавить категорию</button></p>
                
                <div class="styleForCtg"> 
                    <div class="divTextCtg">  
                        <label class="labelTextCtg"> 
                            <input class="real_checkbox" type="checkbox" name="ctg">
                            <span class="custom_checkbox"></span>
                            <p class="textCtg"> Семья </p> 
                        </label>
                    </div>
                    <div class="colorCircle"> 
                        <!-- Это цветовая метка категории. Сюда потом можно будет вставить любой цвет-->
                        <svg width="20" height="20" >
                            <circle cx="10" cy="10" r="10" fill="#FFD12F" />
                        </svg>
                    </div>                    
                </div>
                
                <div class="styleForCtg"> 
                    <div class="divTextCtg">  
                        <label class="labelTextCtg"> 
                            <input class="real_checkbox" type="checkbox" name="ctg">
                            <span class="custom_checkbox"></span>
                            <p class="textCtg"> Здоровье </p> 
                        </label>
                    </div>
                    <div class="colorCircle"> 
                        <!-- Это цветовая метка категории. Сюда потом можно будет вставить любой цвет-->
                        <svg width="20" height="20" >
                            <circle cx="10" cy="10" r="10" fill="#98ED00" />
                        </svg>
                    </div>                    
                </div> 

                <div class="styleForCtg"> 
                    <div class="divTextCtg">  
                        <label class="labelTextCtg"> 
                            <input class="real_checkbox" type="checkbox" name="ctg">
                            <span class="custom_checkbox"></span>
                            <p class="textCtg"> Друзья </p> 
                        </label>
                    </div>
                    <div class="colorCircle"> 
                        <!-- Это цветовая метка категории. Сюда потом можно будет вставить любой цвет-->
                        <svg width="20" height="20" >
                            <circle cx="10" cy="10" r="10" fill="#30F6FF" />
                        </svg>
                    </div>                    
                </div>

                <p class="textUpdWheel"><button class="UpdWheelBtn"> Обновить колесо баланса</button></p>
            </div>

            <div class="col-md-7 col-lg-7 mt-md-1">
                <canvas #balanceWheelCanvas width="600px" height="600px"></canvas>
            </div>
        </div>
    </div>

    <div id="newCtg" class="newCtg">
        <div class="container">
            <p><input type="text" class="newNameCtg" id="nameCtg" name="newNameCtg" placeholder="Введите название категории" /></p>
            <p>Выберите цвет для категории: </p>
            <input type="color" class="newColorCtg" id="newColorCtg" name="newColorCtg" value="#F8A831"/>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-6">
                  <p class="textBtnStyle"><button  onclick="hideDivCtg()" onclick="checkInputForBalanceWheel()" id="save-button-new-ctg" class="save">Сохранить</button><p>
                </div>
                <div class="col-md-6 col-lg-6">
                  <p class="textBtnStyle"><button onclick="hideDivCtg()" id="close-button" class="close">Закрыть</button><p>
                </div>
            </div>

            <div class="error-massage">
                <p id="checkCtgName" style="color: red;"></p> <!-- ЕСЛИ НАЗВАНИЕ ПУСТО, ТО ВЫЛАЗИТ ОШИБКА ПРИ СОХРАНЕНИИ -->
            </div>


        </div>
    </div>
</body>
