<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Личный ассистент</title>
</head>

<body>
    
    <!-- Основной контент страницы  -->
     <div  class="col-md-12 col-lg-12 mt-md-2">
        <h2>Просмотр колеса баланса
            от <input [(ngModel)]="start" class="wheel_date_input" type="date" id="wheel_date_from"> 
            до <input [(ngModel)]="stop" class="wheel_date_input" type="date" id="wheel_date_to">
        </h2>
    </div>
    <div class="col-md-12 col-lg-12 content-container">       
        <div class="row justify-content-center">
            <div class="col-md-4 col-lg-4 mt-md-1">
                <h2>Категории</h2>
                <hr>
                <!-- Кнопка "Создание новой категории" -->
                <p>
                    <button onclick="showDivNewCtg()" style="border: none;"> <img src="././assets/image/add.png" alt="новая категория" style="height: 20px">Добавить категорию</button>
                </p>

                    <div *ngFor="let category of categories" style="display: flex; width:100%"> 
                        <div style=" width:90%">  
                            <label style="margin-left: 7px;"> 
                                <input class="real_checkbox" type="checkbox" name="ctg" [(ngModel)]="category.active" (change)="updateCategory(category)">
                                <span class="custom_checkbox"></span>
                                <p style="display: inline-block;"> {{ category.title }} </p> 
                            </label>
                        </div>
                        <div style="width:10%; align-items: end;"> 
                            <!-- Это цветовая метка категории. Сюда потом можно будет вставить любой цвет-->
                            <svg width="20" height="20" >
                                <circle cx="10" cy="10" r="10" [attr.fill]="category.color" />
                            </svg>
                        </div>                    
                    </div>
                                       
                <p style="text-align: center;">
                    <button (click)="getWheel()" style="width: 70%; background-color: #F0f0f0;">Обновить колесо баланса</button>
                </p>
            </div>

            <div class="col-md-7 col-lg-7 mt-md-1">
                <canvas #balanceWheelCanvas width="600px" height="600px"></canvas>
            </div>
        </div>
    </div>

    <div id="newCtg" class="newCtg">
        <div class="container">
            <p><input [(ngModel)]="newCategory.title" id="nameCtg" type="text" name="userName" placeholder="Введите название категории" style="width: 100%" /></p>
            <p>Выберите цвет для категории: </p>
            <input type="color" id="head" name="head" value="#F8A831" style="width: 100%; height: 150px;" [(ngModel)]="newCategory.color"/>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-6">
                  <p style="text-align: center"><button  onclick="hideDivCtg()" onclick="checkInputForBalanceWheel()" id="save-button-new-ctg" class="save" (click)="createCategory()">Сохранить</button><p>
                </div>
                <div class="col-md-6 col-lg-6">
                  <p class="textBtnStyle"><button onclick="hideDivCtg()" id="close-button" class="close">Закрыть</button><p>
                </div>
            </div>

            <div class="error-massage">
                <p id="checkCtgName" style="color: red;"></p> <!-- ЕСЛИ НАЗВАНИЕ ПУСТО, ТО ВЫЛАЗИТ ОШИБКА ПРИ СОХРАНЕНИИ -->
            </div>

        </div>
    </div>
</body>
