.event-hover {
  cursor: pointer;
}
.event-hover:hover,
.event-hover:hover * {
  color: #F3A352 !important;
  text-shadow: 2px 0 10px #f0f0f0;
}


.div-new-event {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 11%;
  left: 0;
}


.link-event-place {
  text-decoration: underline;
  color: #cb841a;
}


.delete-all-events {
  background-color: #ff5b5b;;
  width: 100%;
  margin-bottom: 1%;
}
/* .delete-all-events:hover {
  background-color: #e6e6ff;;
} */
.text-del-all-events {
  text-align: center;
  margin-bottom: 0;
  font-size: 120%;
  font-weight: 500;
}

.text-table-subj {
  text-align: center; 
  color: rgb(121, 121, 121);
  margin-bottom: 0;
  margin-top: 0;
}


.selectSubj {
  width: 77%;
  background-color: #F0F0F0;
  margin-bottom: 18px;
  margin-left: 10px;
}


.checkboxText {
  font-size: 100%;
  font-weight: 200;
  text-align: justify;
  font-family: 'Shantell Sans', cursive;
  color: #000000; /*2D2822 3F372D; 633F11*/
}


.button_table {
  float: right;
  padding: 5px 10px;
  background: red;
  color: white;
  cursor: pointer;
}


.weekDays {
  background-color: #F3A972;
}
.another {
  background-color: #F0F0F0;
}


.table {
  text-align: center;
  font-size: 100%;
  font-family: 'Shantell Sans', cursive;
  text-decoration: none;
  text-shadow: #d5d8dd 1px 0 10px;
  vertical-align: middle;
  
}

.table1 {
  text-align: center;
  font-size: 100%;
  font-family: 'Shantell Sans', cursive;
  text-decoration: none;
  text-shadow: #d5d8dd 1px 0 10px;
  vertical-align: middle;
}

th {
  font-size: 100%;
  font-family: "Shantell Sans", cursive;
  color: #000000;
  text-decoration: none;
  text-shadow: #d5d8dd 1px 0 10px;
}


.clickable2 {
  /* Устанавливаем значение по умолчанию для переменной */
  --clicked: 0;
  padding: 0 20px;
  font-weight: bold;
  text-align: center;

  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.3s;

  margin: 2px 20px 15px 10px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  background-color: #F0F0F0;
  color: #000000;
  bottom: 0;
}

.clickable2:active {
  /* Устанавливаем другой цвет фона при нажатии */
  background-color: #f1c477;
}

.clickable2.clicked {
  background-color: #F3A352;
}