
.zen {
  border-collapse: collapse;
}
.zen tr td, .zen tr th { 
    padding: .4rem;
}
.zen tr td:nth-of-type(3), .zen tr td:nth-of-type(4) { 
  text-align: center;
}
.zen thead {
  border-bottom: 2px solid #333;
}
.zen tbody tr {
  border-bottom: 1px solid #ddd;
}


tbody tr button:hover {
  opacity: .9;
  cursor: pointer;
}

.zen button {
  background-image: url("/frontend/src/assets/image/archiv.png");
  width: 36px;
  height: 36px;
  
  }




.button_table {
  float: right;
  padding: 5px 10px;
  background: red;
  color: white;
  cursor: pointer;
}


.weekDays {
  background-color: #F3A972;
}
.another {
  background-color: #F0F0F0;
}


.table {
  text-align: center;
  font-size: 100%;
  font-family: 'Shantell Sans', cursive;
  text-decoration: none;
  text-shadow: #d5d8dd 1px 0 10px;
  vertical-align: middle;
  
}

.table1 {
  text-align: center;
  font-size: 100%;
  font-family: 'Shantell Sans', cursive;
  text-decoration: none;
  text-shadow: #d5d8dd 1px 0 10px;
  vertical-align: middle;
}

th {
  font-size: 100%;
  font-family: "Shantell Sans", cursive;
  color: #000000;
  text-decoration: none;
  text-shadow: #d5d8dd 1px 0 10px;
}
