<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Личный ассистент</title>
</head>
<body>

<div class="container-fluid" style="background-color: #D4CBC8">
  <div class="row">
    <!--Кнопка изменения четности недель для расписания-->
    <p><button onclick="weeksSettingDiv()" class="fixed_button" style="right: 210px; width: 300px;">
      <img src="././assets/image/change.png" alt="изменить четность недели" style="height: 20px">
      Настройка четности недель
    </button></p>
    <!--Кнопка изменения расписания-->
    <p><button onclick="showDiv()" class="fixed_button" style="top: 0;">
      <img src="././assets/image/change.png" alt="добавить предмет" style="height: 20px">
      Добавить предмет
    </button></p>
    <div class="col-md-12 col-lg-12 content-container">
      <h1>Расписание занятий</h1>
      
      
      <!-- Таблица расписание -->
      <table class="table">
        <thead>
        <tr>
          <th class="weekDays">Понедельник</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <table class="table">
              <thead>
              <tr class="another">
                <th>Время</th>
                <th>Четная неделя</th>
                <th>Нечетная неделя</th>
              </tr>
              </thead>

              <tbody class="myTable">
              <tr class="another">
                <td id="element">10:15 - 12:00 <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
                <td id="element">РКИС <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
                <td id="element">Английский <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              </tr>
              <tr class="another">
                <td id="element">10:15 - 12:00 <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
                <td id="element">РКИС <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
                <td id="element">Английский <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              </tr>
              </tbody>
            </table>
        </tr>
        </tbody>
      </table>


      <table class="table">
        <thead>
        <tr>
          <th class="weekDays">Вторник</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <table class="table">
            <thead>
            <tr class="another">
              <th>Время</th>
              <th>Четная неделя</th>
              <th>Нечетная неделя</th>
            </tr>
            </thead>

            <tbody class="myTable">
            <tr class="another">
              <td> - <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td>выходной <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td>выходной <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
            </tr>
            </tbody>
          </table>
        </tr>
        </tbody>
      </table>


      <table class="table">
        <thead>
        <tr>
          <th class="weekDays">Среда</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <table class="table">
            <thead>
            <tr class="another">
              <th>Время</th>
              <th>Четная неделя</th>
              <th>Нечетная неделя</th>
            </tr>
            </thead>

            <tbody class="myTable">
            <tr class="another">
              <td>12:00 - 13:35 <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td>Английский <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td> - <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
            </tr>

            </tbody>
          </table>
        </tr>
        </tbody>
      </table>


      <table class="table">
        <thead>
        <tr>
          <th class="weekDays">Четверг</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <table class="table">
            <thead>
            <tr class="another">
              <th>Время</th>
              <th>Четная неделя</th>
              <th>Нечетная неделя</th>
            </tr>
            </thead>

            <tbody class="myTable">
            <tr class="another">
              <td>14:10 - 15:55 <button onclick="deleteElement(this)"style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td>ИБиЗИ <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td>Серверное программирование <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
            </tr>
            <tr class="another">
              <td>15:55 - 17:40 <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td>Теория систем <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td>Теория систем <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
            </tr>
            </tbody>
          </table>
        </tr>
        </tbody>
      </table>


      <table class="table">
        <thead>
        <tr>
          <th class="weekDays">Пятница</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <table class="table">
            <thead>
            <tr class="another">
              <th>Время</th>
              <th>Четная неделя</th>
              <th>Нечетная неделя</th>
            </tr>
            </thead>

            <tbody class="myTable">
            <tr class="another">
              <td>10:15 - 12:00 <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td>РКИС <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td>Английский <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
            </tr>
            <tr class="another">
              <td>10:15 - 12:00 <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td>РКИС <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td>Английский <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
            </tr>
            </tbody>
          </table>
        </tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
        <tr>
          <th class="weekDays">Суббота</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <table class="table">
            <thead>
            <tr class="another">
              <th>Время</th>
              <th>Четная неделя</th>
              <th>Нечетная неделя</th>
            </tr>
            </thead>

            <tbody class="myTable">
            <tr class="another">
              <td>12:00 - 13:35 <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td>КПИРПО <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td> - <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
            </tr>
            <tr class="another">
              <td>14:10 - 15:55 <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td>Теория систем <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td> - <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
            </tr>
            <tr class="another">
              <td>15:55 - 17:30 <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td>РКИС <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td> - <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
            </tr>
            <tr class="another">
              <td>17:40 - 19:15 <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td>ФКИС <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
              <td> - <button onclick="deleteElement(this)" style="border: none;"><img src="././assets/image/delete2.png" alt="удалить" style="height: 20px"></button></td>
            </tr>
            </tbody>
          </table>
        </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>
<!-- 
  weeksSettingDiv 
    Настройка четности недель 
    После сохранения нужно удалять все предметы из расписания 
    и менять начало отсчета для четной и нечетной недели
-->
<div id="divWeek" style="display: none; width: 100%; height: 100%; position: absolute; top: 0; left: 0;">
  <div class="container">
    <p>Укажите, когда начинается четная неделя 
      <input type="date" id="time_from" style="width: 30%; background-color: #f0f0f0">
    </p>

   <p> <span style="color: #FB3838">Предупреждение.</span> После изменения четности недели текущее расписание удалится</p>

   <div class="row justify-content-center">
    <div class="col-md-6 col-lg-6">
      <p style="text-align: center"><button onclick="delTimetable()" id="save-button" class="save">Сохранить</button><p>
    </div>
    <div class="col-md-6 col-lg-6">
      <p style="text-align: center"><button onclick="hideSetDiv()" id="close-button" class="close">Закрыть</button><p>
    </div>
  </div>

  </div>
</div>



<div id="div1" style="display: none; width: 100%; height: 100%; position: absolute; top: 0; left: 0;">
  <div class="container">
    <p><input type="text" name="objectName" placeholder="Введите название предмета" style="width: 100%" /></p>
    <p><input type="text" name="objectsPlace" placeholder="Номер кабинета" style="width: 100%" /></p>

    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-6">
        <p><img src="././assets/image/timeForTask.png" alt="время" style="height: 30px">
          ОТ <input type="time" id="time_from" style="width: 70%; background-color: #f0f0f0"> </p>
      </div>
      <div class="col-md-6 col-lg-6">
        <p>ДО <input type="time" id="time_to" style="width: 82%; background-color: #f0f0f0"></p>
      </div>
    </div>

    <p>
      <input type="checkbox" id="chkTest" />
      <label for="chkTest" style="margin-left: 5px;">Разделение на четную/нечетную недели</label>
    </p>

    <div id="pnlTest" class="Iseewhencheck">
      <div class="row justify-content-start">

      <p>Когда проходит в четную неделю</p>
      <div class="col-md-1 col-lg-1">
        <button class="clickable" id="monday1"> ПН </button>
      </div>
      <div class="col-md-1 col-lg-1">
        <button class="clickable" id="tuesday1"> ВТ </button>
      </div>

      <div class="col-md-1 col-lg-1">
        <button class="clickable" id="wednesday1"> СР </button>
      </div>
      <div class="col-md-1 col-lg-1">
        <button class="clickable" id="thursday1"> ЧТ </button>
      </div>
      <div class="col-md-1 col-lg-1">
        <button class="clickable" id="friday1"> ПТ </button>
      </div>
      <div class="col-md-1 col-lg-1">
        <button class="clickable" id="saturday1"> СБ </button>
      </div>
      <div class="col-md-1 col-lg-1">
        <button class="clickable" id="sunday1"> ВС </button>
      </div>

      <p>Когда проходит в нечетную неделю</p>
      <div class="col-md-1 col-lg-1">
        <button class="clickable" id="monday2"> ПН </button>
      </div>
      <div class="col-md-1 col-lg-1">
        <button class="clickable" id="tuesday2"> ВТ </button>
      </div>

      <div class="col-md-1 col-lg-1">
        <button class="clickable" id="wednesday2"> СР </button>
      </div>
      <div class="col-md-1 col-lg-1">
        <button class="clickable" id="thursday2"> ЧТ </button>
      </div>
      <div class="col-md-1 col-lg-1">
        <button class="clickable" id="friday2"> ПТ </button>
      </div>
      <div class="col-md-1 col-lg-1">
        <button class="clickable" id="saturday2"> СБ </button>
      </div>
      <div class="col-md-1 col-lg-1">
        <button class="clickable" id="sunday2"> ВС </button>
      </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-6">
        <p style="text-align: center"><button onclick="saveObject()" onclick="hideDiv()" id="save-button" class="save">Сохранить</button><p>
      </div>
      <div class="col-md-6 col-lg-6">
        <p style="text-align: center"><button onclick="hideDiv()" id="close-button" class="close">Закрыть</button><p>
      </div>
  </div>
</div>
</div>

</body>
<script>
</script>
</html>

